body{
    font-family: 'Poppins', sans-serif;
    background: url(/images/top-banner.png);
    background-repeat: no-repeat;
    margin: 0;
}
.headingcolor{
    color:#FFA500;
}
.widtharea{
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;
}
.sectionA {
    display: flex; 
    margin: 30px;
     

    
}
.h1font{
    font-size: 50px;
}
.buttonall{
    background-color: #FFA500;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 500;
    color:white;
    border-radius: 2px;
}
.textalign{
    text-align: justify;
}
.secB{
    background: url(/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
}
.secChead{
    
    font-size: 40px;
    font-weight: 600;
    margin: 10px;
}
.flexsecC{
    display: flex;
    background: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
}
.childarea{
width: 50%;
margin: 20px 40px;
box-shadow: 10px 5px 5px rgb(158, 143, 143);
padding: 30px;

}